<!DOCTYPE html>

<head>

    <meta charset="utf-8" />

    <title></title>
    <meta name="description" content="">

    <style>

    </style>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

</head>

<body>
    <div id="app-2">

        <nav class="navbar navbar-dark bg-dark">
            <div class="navbar-brand">FrameworkJS</div>
        </nav>

        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-12 col-md-8">

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username"
                            aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-warning" type="button" id="button-addon2">Search</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row justify-content-center mt-5">
                <div class="col-12 col-md-8">

                    <div class="list-group">
                        <a class="list-group-item list-group-item-action" v-for="(movie, index) in list_movies">
                            <div class="row">
                                <div class="col-auto col-md-8 text-left" @click="enable(index)">{{movie.title}} -
                                    </div>
                                <div class="col-auto col-md-4 text-right">
                                    <button class="btn btn-outline-warning" @click="onEdit(index);">Edit</button>
                                    <button class="btn btn-danger" @click="onDelete(index)">X</button>
                                </div>
                            </div>

                            <div v-if="movie.enabled">
                                <p>{{movie.dir}}</p>
                                <p>{{movie.synopsis}}</p>
                            </div>
                        </a>
                    </div>

                </div>
            </div>

            <div class="row justify-content-center mt-5">
                <div class="col-12 col-md-8">
                    <form>
                        <div class="form-group">
                            <label for="Title">Title</label>
                            <input type="text" class="form-control" id="Title" aria-describedby="titleHelp" placeholder="Enter title"
                                v-model="title">
                            <label for="Release_date">Release date</label>
                            <input type="text" class="form-control" id="Release_date" aria-describedby="releaseHelp"
                                placeholder="Enter release date" v-model="release_date">
                            <label for="Director">Director</label>
                            <input type="text" class="form-control" id="Director" aria-describedby="directorHelp"
                                placeholder="Enter director" v-model="director">
                            <label for="Synopsis">Synopsis</label>
                            <textarea type="text" class="form-control" id="Synopsis" aria-describedby="synopsisHelp"
                                placeholder="Enter synopsis" v-model="synopsis"></textarea>
                        </div>
                        <div class="text-right">
                            <button type="" class="btn btn-warning" @click="onSaveEdit">Save</button>
                            <button type="" class="btn btn-success" @click="onAdd">Add</button>
                            <button type="reset" class="btn btn-secondary">Reset</button>

                        </div>

                    </form>
                </div>
            </div>

            <!--
        <br><br><button v-on:click="onClick">Click me !</button>

        <p>{{message}}</p>

        <input v-model="message"><span>{{ firstLetter }}</span>
            -->
        </div>



        <script type="text/javascript">
            var app2 = new Vue({
                el: '#app-2',
                data: {
                    message: "Hello !",
                    display: true,
                    list_movies: [
                        {
                            title: "Star Wars - Episode IV",
                            release_date: "1977",
                            director: "George Lucas",
                            synopsis: "A Star Wars story",
                            enabled: false
                        },
                        {
                            title: "Star Wars  - Episode V",
                            release_date: "1980",
                            director: "Irvin Kershner",
                            synopsis: "A Star Wars story",
                            enabled: false
                        },
                        {
                            title: "Star Wars  - Episode VI",
                            release_date: "1983",
                            director: "Richard Marquand",
                            synopsis: "A Star Wars story",
                            enabled: false
                        }
                    ],
                    newMovie: "",
                    title: "",
                    release_date: "",
                    director: "",
                    synopsis: "",
                    indexEdit: 0
                },
                methods: {
                    onClick() {
                        alert("Well done !");
                    },

                    onDelete(index) {
                        this.list_movies.splice(index, 1);
                    },

                    onAdd() {
                        console.log(this.newMovie);
                        this.list_movies.splice(this.list_movies.length, 0, {
                            'title': this.title,
                            'release_date': this.release_date,
                            'director': this.director,
                            'synopsis': this.synopsis,
                            'enabled': false
                        });
                    },

                    onEdit(index) {

                        this.indexEdit = index;

                        this.title = this.list_movies[this.indexEdit].title;
                        this.release_date = this.list_movies[this.indexEdit].release_date;
                        this.director = this.list_movies[this.indexEdit].director;
                        this.synopsis = this.list_movies[this.indexEdit].synopsis;
                    },

                    onSaveEdit() {
                        console.log(this.indexEdit);

                        this.list_movies.splice(this.indexEdit, 1, {
                            'title': this.title,
                            'release_date': this.release_date,
                            'director': this.director,
                            'synopsis': this.synopsis,
                            'enabled': false
                        });

                        console.log(this.list_movies);
                    },

                    enable(index) {

                        this.list_movies[index].enabled = !this.list_movies[index].enabled;
                    }

                },
                computed: {
                    firstLetter: function () {
                        return this.message[0];
                    }
                }
            })
        </script>
</body>

</html>